.container {
  padding-top: 10px;
  max-width: 320px;
  width: 320px;
}

.task {
  margin-bottom: 10px;
}

.small {
  font-size: 80%;
}

.input-container
{
  margin-bottom: 10px;
}

.time {
  float: left;
}

.diff {
  float: right;
}
